* {
  margin: 0;
  padding: 0;
}

:root {
  --card-width: 650px;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50px);
}
